



body{

    background-color: #FCFFDA;
}

button{
    position: fixed;
    height: 40px;
    width: 100px;
    background-color: #83B4FF;
    border-radius: 15px;
    top: 30px;
    box-shadow: grey 0px 2px 4px;
    font-weight: bold;
    color: #1A2130;
    border: none;
}
#note{
    position: fixed;
    top: 400px;
    left: 450px;
    font-size: large;
}
#me{
    border-style: solid;
    top: 100px;
    left: 40px;
    border-width: 3px;
    border-radius: 15px;
    max-width: 20%;
    max-height: 40%;
    position: absolute;
    box-shadow: grey 0px 2px 4px;
    border-color:#83B4FF;

}
#B1{
    right: 50px;

}

#B2{
    right: 200px;
}

#meowButton{
    right: 350px;
}

#box1{
    position: relative;
    border-width: 3px;
    border-color:#FCFFDA;
    box-shadow: grey 0px 2px 4px;
    background-color: #83B4FF;
    top: 500px;
    left: 56px;
    border-radius: 18px;
    height: 40px;
    width: 262px;
    border-style: solid;
}

#linkedin{
    top: 3px;
    left: 20px;
    position: absolute;
    width: 35px;
    height: 35px;

}

#github{
    top: 3px;
    left: 210px;
    width: 35px;
    height: 35px;
    position: absolute;

}

.meow-image {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border: 3px solid #83B4FF;
    border-radius: 10px;
    max-width: 400px;
    max-height: 400px;
    box-shadow: 0 0 20px rgba(0,0,0,0.3);
    z-index: 1000;
  }
  