



body{

    background-color: #FCFFDA;


}

button{
position: fixed;
height: 40px;
width: 100px;
background-color: #83B4FF;
border-radius: 15px;
top: 30px;
box-shadow: grey 0px 2px 4px;
font-weight: bold;
color: #1A2130;
border: none;
}

#me{
    border-style: solid;
    top: 100px;
    left: 40px;
    border-width: 3px;
    border-radius: 15px;
max-width: 40%;
max-height: 40%;
position: fixed;
box-shadow: grey 0px 2px 4px;
border-color:#83B4FF;

}
#B1{
    right: 50px;

}

#B2{
    right: 200px;
}

#B3{
    right: 350px;
}

#box1{
    position: fixed;
    border-width: 3px;
    border-color:#FCFFDA;
    box-shadow: grey 0px 2px 4px;
    background-color: #83B4FF;
    top: 440px;
    left: 40px;
    border-radius: 18px;
    height: 40px;
    width: 261px;
    border-style: solid;
    text-align: center;
}

#linkedin{

    left: 10%;
    border-style: solid;
    position: fixed;
    border-color:#1A2130;
    width: 35px;
    height: 35px;

}

#github{
    
    left: 45%;
    width: 35px;
    height: 35px;
    position: fixed;
    border-style: solid;
    border-color:#1A2130;

}